.login-container {
    width: 300px;
    margin: 200px auto;
    padding: 30px;
    border: 3px solid #aca198;
    border-radius: 50px;
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 92%;
    padding: 0px;
    margin-top: 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 20px; /* 入力欄間の追加間隔 */
}

.login-container button {
    padding: 2px; /* ボタンのパディングを減らす */
    font-size: 15px; /* フォントサイズを小さくする */
}


/*上がログインまで。下からログイン後*/


h2 {
    margin-top: 80px; /* タイトルの上の余白を調整 */
}

#admin-content input, #admin-content button {
    padding: 10px;
    margin: 5px;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 8px;
    margin-top: 5px;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.timestamp {
    font-size: 0.75em;
    color: grey;
}
