#panorama {
    width: 100vw;   /* ビューポートの幅全体を使用 */
    height: 100vh;  /* ビューポートの高さ全体を使用 */
    position: fixed; /* 必要に応じて調整 */
    top: 0vh;
    left: 0;
    z-index: 0; /* 他の要素が前面に来るように調整 */
}

.menu {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1000;
    cursor: pointer;
}

.menu img {
    width: 50px; /* メニューアイコンの幅 */
    height: 50px; /* メニューアイコンの高さ */
}

.menu-content {
    display: block;
    position: fixed;
    left: 0px; /* 左端から表示 */
    top: 0;
    height: 100%;
    width: 250px; /* メニューの幅を調整 */
    background-color: rgb(230, 0, 18);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5); /* 影の方向を左側に */
    transform: translateX(-100%); /* 左に隠れるように */
    transition: transform 0.65s ease;
    font-family: 'Arial', sans-serif;
    padding-top: 3%;
}


.menu-content a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

.menu-content a:hover {
    background-color: #ffffff;
    color: red;
    font-weight: bold;
}

.close-btn {
    position: fixed;
    top: 5px;
    left: 5px;
}